<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jboard">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JBoard"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".RepetitionCreationActivity"></activity>
        <activity android:name=".RepetitionsManagementActivity" />
        <activity android:name=".TeacherCreationActivity" />
        <activity android:name=".TeachersManagementActivity" />
        <activity android:name=".CourseCreationActivity" />
        <activity android:name=".CoursesManagementActivity" />
        <activity android:name=".LessonsActivity" />
        <activity android:name=".AvailableLessonList" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>